body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #46529d;
  color: #fff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-center {
  text-align: center;
}

.container {
  width: 60%;
  margin: 10% auto;
}

.ListItems{
  background: #fff;
  color: #46529d;
}

.ListItems p{
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}

.ListItems span {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc;
}

.ListItems span.title {
  background: #2ebaee;
  color: #fff;
}

.ListItems span.name,
form input[type=text]{
  width: 58%;
}

.ListItems span.age,
form input[type=number]{
  width: 28%;
}

.ListItems span.action,
form input[type=submit]{
  width:13%;
}

.ListItems span.icon{
  color: #f00;
  cursor: pointer;
}

form input {
  padding: 10px;
  background: #ebebeb;
  border: transparent;
  border: 0.3px solid #ccc;
}

form input[type=submit] {
  background: #2ebaee;
  border: 0.3px solid #2ebaee;
  color: #fff;
  cursor: pointer;
}
